{% extends 'base.html' %}
{% block body %}
    <div class="content-body">
      <!-- page section about-->
      <section class="page-section bb-gray pb-0">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-sm-50 flex-item-end">
                <img src="/static/pic/promo-2.jpg" data-at2x="pic/promo-2@2x.jpg" alt class="mt-minus-50 mb-md-50"></div>
            <div class="col-md-6 mb-md-60">
              <!-- section title-->
              <h2 class="title-section mt-0 mb-0">关于我们</h2>
              <!-- ! 关于我们-->
              <div class="cws_divider with-plus short-3 mb-20 mt-10"></div>
              <p class="mb-40">
                  中博信工程造价咨询（北京）有限公司创建于1995年8月31日，注册资金500万元，是一家经建设部批准具有甲级资质的专业工
                  程造价咨询单位。通过ISO9001-2008质量体系认证，并入围多家政府机关、企事业单位的工程造价咨询机构备选库。公司秉承
                  “信守诚信、客观科学、公平公正、优质高效”的原则为国内外各行业提供工程造价咨询专业服务。<br>
中博信立足北京，辐射全国，在辽宁、天津、贵州、湖南、甘肃、云南等地开设了分支机构，建立服务网络。中博信放眼国际，逐步发展成为一流的工
                  程造价咨询机构，并努力成为国际建设工程造价咨询市场的重要组成部分。<br>
中博信集丰富、成熟的技术经验、科学、高效的管理手段和先进创新的服务理念于一身，致力于制度化、正规化建设，建立了完善的管理制度和工作程
                  序，并建立了完备的各类建筑工程成本数据、建材价格动态数据等行业数据库。<br>
中博信为瑞华集团下属的专业服务公司，瑞华集团下属公司有工程造价咨询公司、会计师事务所、财务咨询公司、资产评估公司、税务师事务所等。为
                  顺应市场、谋求自身做大做强的发展之需，集团正在逐步采取一系列的资源重组措施，形成一个集市场资源、专业技术资源和信
                  息资源于一体的企业集团。同时，采用集中管理、分专业发展的经营模式，打破以往单一、封闭的资源运营格局，开启全面、开
                  放的资源运营的新局面，不仅使资源价值得到充分利用和有效发挥，同时产生积极的资源互补协同效应，大大提升了公司业内的
                  竞争能力，赢得了新的发展机会。<br>

              </p>
              <!-- skill bar item-->

              <!-- ! skill bar item-->
            </div>
          </div>
        </div>
      </section>
      <!-- ! page section about-->
      <!-- section parallax counter-->
      <section class="page-section cws_prlx_section pt-70 pb-70 bb-gray">
          <img src="/static/pic/counter-bg-1.jpg" alt class="cws_prlx_layer">
        <div class="container">
          <div class="row cws-multi-col">
            <div class="col-md-3 col-sm-6">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-people-2"></i>
                <div class="counter-name-wrap">
                  <div data-count="312" class="counter">0</div>
                  <div class="counter-name">在职员工</div>
                </div>
              </div>
              <!-- ! counter block-->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-fashion"></i>
                <div class="counter-name-wrap">
                  <div data-count="15" class="counter">0</div>
                  <div class="counter-name">分公司</div>
                </div>
              </div>
              <!-- counter block-->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-game"></i>
                <div class="counter-name-wrap">
                  <div data-count="1360" class="counter">0</div>
                  <div class="counter-name">项目数</div>
                </div>
              </div>
              <!-- ! counter block-->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-sheet"></i>
                <div class="counter-name-wrap">
                  <div data-count="9270" class="counter">0</div>
                  <div class="counter-name">Code Strokes</div>
                </div>
              </div>
              <!-- ! counter block-->
            </div>
          </div>
        </div>
      </section>
      <!-- ! section parallax counter-->
      <!-- page section-->
      <section class="page-section">
        <div class="container">  
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-20">
              <h2 class="title-section mb0 mt-0 text-center">我们的文化</h2>
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">
                企业文化是企业在发展过程中，逐步形成的为全体员工所认同、遵守、并能传承给新成员的带有本企业特色的价值观念、
                  共同愿景、使命及思维方式。它代表了组织中被广泛接受的思维方式、道德观念和行为准则。是企业经营准则、经营作风、
                  企业精神、发展目标的总和，是无处不在、与每个员工息息相关的一种氛围。
              </p>
            </div>
            <!-- 价值观-->
            <div class="col-sm-4 mb-sm-40">
              <div class="service-item icon-center"><i class="flaticon-computer-1 cws-icon type-1 color-2"></i>
                <h3>价值观</h3>
                <p class="mb-0">
                    厚德、致远、敬业、勤勉。
                </p>
              </div>
            </div>
            <!-- ! service item-->
            <div class="col-sm-4 mb-sm-40">
              <div class="service-item icon-center"><i class="flaticon-work cws-icon type-1 color-2"></i>
                <h3>发展目标</h3>
                <p class="mb-0">
                    稳健发展，和谐共赢！
                </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-sm-4">
              <div class="service-item icon-center"><i class="flaticon-people-1 cws-icon type-1 color-2"></i>
                <h3>服务理念</h3>
                <p class="mb-0">
                    守信重诺  科学求实  公正透明  迅速快捷
                </p>
              </div>
            </div>
            <!-- ! service item-->
          </div>
        </div>
      </section>
      <!-- ! page section -->
      <!-- parallax testimonials section-->
      <section style="background-image:url(pic/parallax-1.jpg);'" class="page-section pb-0">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="carousel-pag white">
                <div class="quote alt-3">
                  <p class="mb-40">
                      “ 我们对前景充满自信，中博信将一如既往，以专业能力为支点，以为客户创造价值为理念，以持续超越历史、
                      超越自身为目标，与您携手，共同塑造成功的辉煌。”
                  </p>
                  <h4>姜波  -  <span>董事长</span></h4>
                  <div class="star-rating"></div>
                </div>
                <div class="quote alt-3">
                  <p class="mb-40">
                      ““稳健发展，和谐共赢。”是中博信人的发展目标，我们以开阔的视野、积极的心态、更严更高的标准，
                      构建以客户为中心，互尊互信、健康和谐的企业文化。我们与新老客户相扶相持，经受了大潮汹涌的新经济的洗礼与砺炼，
                      共同打造了中博信的信誉与品牌；同时我们把握时代赋予的契机，不断提炼与升华我们的质量体系与管理体系，在工程造价
                      咨询行业的执业、管理与建设上，走出了一条理论与实践相结合，先进管理理念与企业文化相融通的坦途。 帮助客户健康
                      发展是我们的责任，客户的成功是我们的追求，为客户创造价值是我们的目标。高素质的员工队伍和先进的管理体系为我
                      们向客户提供超值服务、与客户共同成长打下了坚实的基础。肩负着我们的责任、追求与目标，通过高度专业化的服务，
                      我们与客户一起追求发展、追求成功。 ”
                  </p>
                  <h4>姜波  -  <span>董事长</span></h4>
                  <div class="star-rating"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6"><img src="/static/pic/promo-3.png" alt class="mt-minus-200"></div>
          </div>
        </div>
      </section>
      <!-- ! parallax testimonials section-->
      <!-- pricing section-->
      <section class="page-section">
        <div class="container">  
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-20">
              <h2 class="title-section mb0 mt-0 text-center">组织结构</h2>
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">
                  <img src="/static/pic/about/zzjg.jpg">
              </p>
            </div>
          </div>

        </div>
      </section>
      <!-- ! pricing section-->
      <!-- our partners-->
      <section class="page-section bg-gray bt-gray pb-0 pt-0">
        <div class="container">
          <div class="row mt-30 mb-30">
            <!-- partner item-->
            <div class="col-md-2 col-xs-4 partner-item mb-md-10">
                <img src="/static/img/logos/Clinico.png" alt class="filter-grayscale"></div>
            <!-- ! partner item-->
            <!-- partner item-->
            <div class="col-md-2 col-xs-4 partner-item mb-md-10">
                <img src="/static/img/logos/HappyKids.png" alt class="filter-grayscale"></div>
            <!-- ! partner item-->
            <!-- partner item-->
            <div class="col-md-2 col-xs-4 partner-item mb-md-10">
                <img src="/static/img/logos/Proway.png" alt class="filter-grayscale"></div>
            <!-- ! partner item-->
            <!-- partner item-->
            <div class="col-md-2 col-xs-4 partner-item mb-md-10">
                <img src="/static/img/logos/the8.png" alt class="filter-grayscale"></div>
            <!-- ! partner item-->
            <!-- partner item-->
            <div class="col-md-2 col-xs-4 partner-item mb-md-10">
                <img src="/static/img/logos/PressView.png" alt class="filter-grayscale"></div>
            <!-- ! partner item-->
            <!-- partner item-->
            <div class="col-md-2 col-xs-4 partner-item">
                <img src="/static/img/logos/Unilearn.png" alt class="filter-grayscale"></div>
            <!-- ! partner item-->
            <!-- partner item-->
          </div>
        </div>
      </section>
      <!-- ! our partners-->
    </div>
{% endblock %}