{% extends 'base.html' %}
{% block body %}
    <div class="content-body">
      <div class="tp-banner-container">
        <div class="tp-banner-slider">
          <ul>
            <li data-masterspeed="700" data-slotamount="7" data-transition="fade">
                <img src="/static/img/1.jpg" data-bgfit="cover" data-bgposition="center 70%" data-lazyload="pic/slider/main/slide-1.jpg" alt="" data-bgparallax="10">
              <div data-x="['left','left','center','center']" data-hoffset="0" data-y="center" data-voffset="-5%" data-width="['470px','350px','250px','200px']" data-transform_in="x:-150px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="400" class="tp-caption sl-content">
                <div class="sl-title-top">专业人做专业事</div>
                <div class="sl-title">合作共赢 <br />
                    <span>马上联系中博信</span></div>
                <p>以饱满的精神为您解决一站式全程管理、结算、审计等专业服务！</p>
                  <a href="#" class="cws-button gray">联系我们</a>
              </div>
            </li>
            <li data-masterspeed="700" data-transition="fade" class="without-overlay">
                <img src="/static/img/3.jpg" data-lazyload="/static/pic/slider/main/slide-2-1.jpg" data-bgposition="center 45%" alt="" data-bgparallax="10">
              <div data-x="['right','right','center','center']" data-hoffset="0" data-y="center" data-voffset="-5%" data-width="['470px','350px','250px','200px']" data-transform_in="y:-150px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="400" class="tp-caption sl-content align-center">
                <div class="sl-title-top"></div>
                <div class="sl-title">开阔创新<span>永不止步</span></div>
                <p>公平、公正、专注、文明</p>
                  <a href="#" class="cws-button gray">联系我们</a>
              </div>
            </li>
            <li data-masterspeed="700" data-transition="fade" class="without-overlay">
                <img src="/static/img/5.jpg" data-lazyload="/static/pic/slider/main/slide-3-1.jpg" data-bgposition="center 67%" alt="" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10">
              <div data-x="['right','right','center','center']" data-hoffset="0" data-y="center" data-voffset="-5%" data-width="['470px','350px','250px','200px']" data-transform_in="x:150px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:-150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="400" class="tp-caption sl-content align-right">
                <div class="sl-title-top text-white"></div>
                <div class="sl-title text-white"><span></span></div>
                <p class="text-white"></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 我们的优势-->
      <section class="page-section pb-0" id="youshi">
        <div class="container">  
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-20">
              <h2 class="title-section mb0 mt-0 text-center">我们优势 </h2>
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">
                  中博信工程造价咨询（北京）有限公司注册资本高，造价师人数多，带队项目经理都是造价师。
              </p>
            </div>
            <!-- service item-->
            <div class="col-sm-4 mb-sm-40">
              <div class="service-item icon-center"><i class="flaticon-computer-1 cws-icon type-1 color-2"></i>
                <h3>正版软件</h3>
                <p class="mb-0">我们使用专业的正版软件进行算量，符合国家标准算量方法。
                    <!--
                    <a href="#" class="color-1 mt-10">查看更多
                        <span class="cws_divider short color-1"></span></a>
                    -->
                </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-sm-4 mb-sm-40">
              <div class="service-item icon-center"><i class="flaticon-work cws-icon type-1 color-2"></i>
                <h3>强大团队</h3>
                <p class="mb-0">
                    中博信自成立以来，专业技术队伍不断增加，拥有一支由注册造价工程师、注册咨询工程师、注册监理工程师、注册建造师、
                    高级经济师、高级工程师和工程师组成的素质高、专业强的技术团队，公司现共有专业人员247人。
                    </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-sm-4">
              <div class="service-item icon-center"><i class="flaticon-people-1 cws-icon type-1 color-2"></i>
                <h3>专业审计</h3>
                <p class="mb-0">
                    中博信自成立以来，专业技术队伍不断增加，拥有一支由注册造价工程师、注册咨询工程师、注册监理工程师、注册建造师、
                    高级经济师、高级工程师和工程师组成的素质高、专业强的技术团队，公司现共有专业人员247人。</p>
              </div>
            </div>
            <!-- ! service item-->
          </div>
          <div class="cws_divider with-plus long color-line-1 mt-80"></div>
        </div>
      </section>
      <!-- 优势结束 -->
      <!-- 服务介绍-->
      <section class="page-section pt-80 pb-0" id="servers">
        <div class="container">
          <div class="row pb-100">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title-section mb0 mt-0 text-center">我们的服务</h2>
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">
                啊实打实大苏打

              </p>
            </div>
          </div>
        </div>
        <div class="page-section pb-0 pt-0 bg-gray"> 
          <div class="container">
            <div class="row pt-100 pb-0">
              <div class="col-md-4 mb-md-20">
                <div class="service-item icon-left mb-10 alt"><i class="flaticon-work cws-icon"></i>
                  <h3>项目前期咨询</h3>
                  <p class="mb-0">
                    决策阶段：编制项目可行性研究报告中的投资估算、经济评价；
                    设计阶段：编制或审核设计概算，进行方案经济比选，为限额设计提供经济数据。
                  </p>
                </div>
                <div class="service-item icon-left mb-10 alt"><i class="flaticon-school cws-icon"></i>
                  <h3>招投标阶段咨询</h3>
                  <p class="mb-0">编制工程量清单及招标控制价或标底；为招标文件和合同中的经济条款提供专业意见；协助客户进行合同谈判。</p>
                </div>

                  <div class="service-item icon-left alt"><i class="flaticon-school cws-icon"></i>
                  <h3>全过程造价咨询</h3>
                  <p class="mb-0">上述一~四项服务内容，形成了建设项目全过程造价咨询服务。</p>
                </div>

              </div>
              <div class="col-md-4 flex-item-end mb-md-20">
                  <img src="/static/pic/promo-1.png" alt class="mt-minus-170 mt-md-0"></div>
              <div class="col-md-4 mb-md-20">
                <div class="service-item icon-right mb-10 alt"><i class="flaticon-technology-1 cws-icon"></i>
                  <h3>施工阶段过程咨询</h3>
                  <p class="mb-0">
                      经济签证、变更价款、索赔费用、工程进度报量审查、合同签订及审核、设备材料询价、中期支付等，
                      帮助客户避免不必要经济损失，实现效益最大化。
                  </p>
                </div>
                <div class="service-item icon-right mb-10 alt"><i class="flaticon-technology cws-icon"></i>
                  <h3>结算咨询</h3>
                  <p class="mb-0">编制或审核工程结（决）算，监督检查结算工程量价的准确性、合规性，基本建设程序的合法性、合规性。</p>
                </div>
                  <div class="service-item icon-right alt"><i class="flaticon-technology cws-icon"></i>
                  <h3>司法鉴定</h3>
                  <p class="mb-0">
                      接受法院仲裁机构委托，对工程造价纠纷案件进行司法鉴定；由熟悉法律法规的专业人
                      员为客户提供建设项目的索赔与反索赔服务。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section >
      <!-- 业务介绍结束-->
      <!-- 广告栏-->
      <section class="page-section pt-0 pb-0 bg-main cws_prlx_section">
          <img src="/static/pic/callout-bg.jpg" alt class="cws_prlx_layer">
        <div class="container">
          <div class="call-out-box clearfix with-icon">
            <div class="callout-wrap"><i class="flaticon-fashion"></i>
              <div class="callout-content">
                <p>中博信是造价行业的杰出咨询结构！</p>
              </div><a href="#" class="cws-button white mt-20">马上联系</a>
            </div>
          </div>
        </div>
      </section>
      <!-- ! 广告结束-->
      <!-- 公司介绍-->
      <section style="background-image:url(/static/pic/back-1.jpg);'" class="page-section bt-gray bg-n-rep bg-x-50" id="showme">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-md-50"></div>
            <div class="col-md-6">
              <!-- section title-->
              <h2 class="title-section mt-0 mb-0">公司介绍</h2>
              <!-- ! section title-->
              <div class="cws_divider with-plus short-3 mb-20 mt-10"></div>
              <p class="mb-30">
                  中博信工程造价咨询（北京）有限公司创建于1995年8月31日，注册资金500万元，是一家经建设部批准具有甲级资质的专
                  业工程造价咨询单位。通过ISO9001-2008质量体系认证，并入围多家政府机关、企事业单位的工程造价咨询机构备选库。
                  公司秉承“信守诚信、客观科学、公平公正、优质高效”的原则为国内外各行业提供工程造价咨询专业服务。
              </p>

              <!-- accordion-->
              <div class="accordion style-1 mb-40">
                <div class="content-title"> <span class="active">
                    <i class="flaticon-shapes"></i>
                        中博信服务理念？
                    <i class="accordion_angle fa fa-angle-down"></i></span></div>
                <div class="content"> 
                  <p>
                    守信重诺科学求实公正透明迅速快捷将以最高的专业水准、
                    勤奋细致而精确的工作态度满足客户的要求，为促进和推动中国工程咨询行业的建设与发展而尽心竭力。
                  </p>
                </div>
                <div class="content-title"> <span>
                    <i class="flaticon-technology-3"></i>
                    中博信发展规划？<i class="accordion_angle fa fa-angle-down"></i></span></div>
                <div class="content">
                    我们对前景充满自信，中博信将一如既往，以专业能力为支点，以为客户创造价值为理念，
                    以持续超越历史、超越自身为目标，与您携手，共同塑造成功的辉煌。。
                </div>
                <div class="content-title"> <span>
                    <i class="flaticon-favorite"></i>
                    中博信的信心？
                    <i class="accordion_angle fa fa-angle-down"></i></span></div>
                <div class="content">
                    团结友爱的团队，还有什么可以阻挡？
                </div>
              </div>
              <!-- ! accordion-->
                <a href="#" class="cws-button alt with-icon mb-xs-20 mr-xs-10">加入我们
                    <i class="flaticon-note-1"></i></a>
                <a href="#" class="cws-button alt with-icon color-3">业务联系
                    <i class="flaticon-social-5"></i></a>
            </div>
          </div>
        </div>
        <!-- list-->
      </section>
      <!-- 公司介绍结束-->
      <!-- 项目案例开始-->
      <section class="page-section pb-0 bg-gray-2" id="projects">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <!-- title section-->
              <h2 class="title-section text-center mt-0 mb-0">项目案例</h2>
              <!-- ! title section-->
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">
                  项目案例介绍内容
              </p>
            </div>
          </div>
        </div>
        <!-- 项目管理-->
        <div class="isotop-container">
          <div class="work-filter">
              <a href="#" data-filter="*" class="filter active">所有</a>
              <a href="#" data-filter=".branding" class="filter">完成项目</a>
              <a href="#" data-filter=".design" class="filter">未完成项目</a>
              <a href="#" data-filter=".other" class="filter">其他</a>
          </div>
            <!-- 项目图片  8个-->
          <div id="filter-grid" class="row cws-multi-col portfolio-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 all branding design other">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic">
                    <img src="/static/pic/portfolio/405x360/1.jpg" data-at2x="/static/pic/portfolio/405x360/1@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="/static/pic/portfolio/405x360/1@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 all design office projects">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic"><img src="/static/pic/portfolio/405x360/2.jpg" data-at2x="pic/portfolio/405x360/2@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="/static/pic/portfolio/405x360/2@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 all branding photo office other">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic"><img src="/static/pic/portfolio/405x360/3.jpg" data-at2x="pic/portfolio/405x360/3@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="pic/portfolio/405x360/3@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 all photo office">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic"><img src="/static/pic/portfolio/405x360/4.jpg" data-at2x="pic/portfolio/405x360/4@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="pic/portfolio/405x360/4@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 all design projects other">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic"><img src="/static/pic/portfolio/405x360/5.jpg" data-at2x="pic/portfolio/405x360/5@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="pic/portfolio/405x360/5@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 all branding photo projects">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic"><img src="/static/pic/portfolio/405x360/6.jpg" data-at2x="pic/portfolio/405x360/6@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="pic/portfolio/405x360/6@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 all design projects other">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic"><img src="/static/pic/portfolio/405x360/7.jpg" data-at2x="pic/portfolio/405x360/7@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="pic/portfolio/405x360/7@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 all branding photo projects">
              <!-- portfolio item-->
              <div class="portfolio-item text-center">
                <!-- media-->
                <div class="pic"><img src="/static/pic/portfolio/405x360/8.jpg" data-at2x="pic/portfolio/405x360/8@2x.jpg" alt>
                  <!-- item content -->
                  <div class="item-content">
                    <h3 class="portfolio-title">Vestibulum</h3>
                    <div class="categories"><a href="page-single.html">Projects</a>, <a href="page-single.html">Branding</a></div>
                    <div class="links"><a href="pic/portfolio/405x360/8@2x.jpg" class="link-icon flaticon-interface fancy"></a><a href="page-single.html" class="link-icon flaticon-tool"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! portfolio item-->
            </div>
          </div>
        </div>
        <div class="button-center pb-40 mt-10">
            <a href="#" class="cws-button alt">查看更多</a></div>
      </section>
      <!-- ! 项目案例结束-->
      <!-- 团队-->
      <section class="page-section" id="tuandui">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <!-- title section-->
              <h2 class="title-section text-center mt-0 mb-0">我们的团队</h2>
              <!-- ! title section-->
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">我们有。。。</p>
            </div>
          </div>
          <div class="row cws-multi-col mb-50">
            <div class="col-md-3 col-sm-6 mb-md-30">
              <!-- profile item-->
              <div class="profile-item">
                <div class="pic">
                  <div class="img_cont"><img src="/static/pic/team/1.jpg" data-at2x="pic/team/1@2x.jpg" alt></div>
                  <div class="hover-effect"></div>
                  <div class="ourteam_content">
                    <div class="title_wrap">
                      <h3 class="title">姜波</h3>
                      <div class="positions"><a href="#">[ 董事长 ]</a></div>
                    </div>
                    <div class="desc">
                      <p>中国注册造价师、中国注册评估师 </p>
                    </div>
                    <div class="social_links"><a href="#" class="flaticon-social-4"></a>
                        <a href="#" class="flaticon-social"></a>
                        <a href="#" class="flaticon-social-network"></a>
                        <a href="#" class="flaticon-social-1"></a>
                        <a href="#" class="flaticon-social-3"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! profile item-->
            </div>
            <div class="col-md-3 col-sm-6 mb-md-30">
              <!-- profile item-->
              <div class="profile-item">
                <div class="pic">
                  <div class="img_cont"><img src="/static/pic/team/2.jpg" data-at2x="pic/team/2@2x.jpg" alt></div>
                  <div class="hover-effect"></div>
                  <div class="ourteam_content">
                    <div class="title_wrap">
                      <h3 class="title">Juliana Doe</h3>
                      <div class="positions"><a href="#">[ 总经理 ]</a></div>
                    </div>
                    <div class="desc">
                      <p>注册造价师、造价评估师</p>
                    </div>
                    <div class="social_links"><a href="#" class="flaticon-social-4"></a><a href="#" class="flaticon-social"></a><a href="#" class="flaticon-social-network"></a><a href="#" class="flaticon-social-1"></a><a href="#" class="flaticon-social-3"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! profile item-->
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
              <!-- profile item-->
              <div class="profile-item">
                <div class="pic">
                  <div class="img_cont"><img src="/static/pic/team/3.jpg" data-at2x="pic/team/3@2x.jpg" alt></div>
                  <div class="hover-effect"></div>
                  <div class="ourteam_content">
                    <div class="title_wrap">
                      <h3 class="title">程晞</h3>
                      <div class="positions"><a href="#">[ 技术总监 ]</a></div>
                    </div>
                    <div class="desc">
                      <p>注册造价师，。。。。</p>
                    </div>
                    <div class="social_links"><a href="#" class="flaticon-social-4"></a><a href="#" class="flaticon-social"></a><a href="#" class="flaticon-social-network"></a><a href="#" class="flaticon-social-1"></a><a href="#" class="flaticon-social-3"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! profile item-->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- profile item-->
              <div class="profile-item">
                <div class="pic">
                  <div class="img_cont"><img src="/static/pic/team/4.jpg" data-at2x="pic/team/4@2x.jpg" alt></div>
                  <div class="hover-effect"></div>
                  <div class="ourteam_content">
                    <div class="title_wrap">
                      <h3 class="title">钱建荣</h3>
                      <div class="positions"><a href="#">[ 部门经理 ]</a></div>
                    </div>
                    <div class="desc">
                      <p>个人介绍信息。。。.</p>
                    </div>
                    <div class="social_links"><a href="#" class="flaticon-social-4"></a><a href="#" class="flaticon-social"></a><a href="#" class="flaticon-social-network"></a><a href="#" class="flaticon-social-1"></a><a href="#" class="flaticon-social-3"></a></div>
                  </div>
                </div>
              </div>
              <!-- ! profile item-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 class="trans-uppercase mb-20"><span>关于</span> 姜波</h3>
              <p class="mb-40">
                  中博信董事长，瑞华合伙人。。。
              </p><a href="#" class="cws-button with-icon alt color-2 blog-nav-button">
                View profile<i class="flaticon-social-5"></i></a>
              <div class="blog-nav-share align-right">
                  <a href="#" class="cws-social flaticon-social-4"></a>
                  <a href="#" class="cws-social flaticon-social"></a>
                  <a href="#" class="cws-social flaticon-social-3"></a>
                  <a href="#" class="cws-social flaticon-social-1"></a>
                  <a href="#" class="cws-social flaticon-social-network"></a></div>
            </div>
            <div class="col-md-6">
              <h3 class="trans-uppercase mb-20">团队建设</h3>
              <div class="skill-bar st-color-1">
                <ul>
                    <li><a href="">公司组织奥体活动,那些年我们一起奔跑过</a></li>
                    <li><a href="">公司组织奥体活动</a></li>
                    <li><a href="">公司组织奥体活动</a></li>
                    <li><a href="">公司组织奥体活动</a></li>
                    <li><a href="">公司组织奥体活动</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- ! 团队结束-->
      <!-- 合作评价-->
      <section class="page-section pt-120 pb-70 pattern-1 relative bb-gray bt-gray" id="hezuo">
        <div class="container">
          <div class="row mb-20">
            <div class="col-md-8 col-md-offset-2">
              <!-- title section-->
              <h2 class="title-section text-center mt-0 mb-0">合作评价</h2>
              <!-- ! title section-->
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">
                  合作对我们的评价。。。。
              </p>
            </div>
          </div>
          <div class="carousel-container">
            <div class="row">
              <div class="owl-two-pag pagiation-carousel mb-20">
                <!-- comment list section-->
                <div class="widget_wrapper">
                  <div class="testimonial">
                    <div class="quote">
                        中博信的员工比较公正，也很专业！
                    </div>
                    <div class="author"> <img src="/static/pic/blog/60x60/1.jpg" data-at2x="pic/blog/60x60/1@2x.jpg" alt>
                      <figure>
                        <figcaption>张宇<span>[ 总经理 ]</span>
                          <div class="stars"></div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="widget_wrapper">
                  <div class="testimonial">
                    <div class="quote">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibur lum frin gilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posu ere, tortor sed cursus feugiat.</div>
                    <div class="author"> <img src="/static/pic/blog/60x60/2.jpg" data-at2x="pic/blog/60x60/2@2x.jpg" alt>
                      <figure>
                        <figcaption>刘涛<span>[ 项目负责人 ]</span>
                          <div class="stars"></div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="widget_wrapper">
                  <div class="testimonial">
                    <div class="quote">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibur lum frin gilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posu ere, tortor sed cursus feugiat.</div>
                    <div class="author"> <img src="/static/pic/blog/60x60/1.jpg" data-at2x="pic/blog/60x60/1@2x.jpg" alt>
                      <figure>
                        <figcaption>黄渤<span>[ 董事长 ]</span>
                          <div class="stars"></div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="widget_wrapper">
                  <div class="testimonial">
                    <div class="quote">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibur lum frin gilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posu ere, tortor sed cursus feugiat.</div>
                    <div class="author"> <img src="/static/pic/blog/60x60/2.jpg" data-at2x="pic/blog/60x60/2@2x.jpg" alt>
                      <figure>
                        <figcaption>邓超<span>[ 负责人 ]</span>
                          <div class="stars"></div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 合作评价结束-->
      <!-- 新闻中心-->
      <section class="page-section pb-70 bb-gray" id="news">
        <div class="container">
          <div class="row"> 
            <div class="col-md-8 col-md-offset-2">
              <!-- title section-->
              <h2 class="title-section text-center mt-0 mb-0">新闻中心</h2>
              <!-- ! title section-->
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-30">
                  新闻介绍信息。。。
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <!-- Blog Post -->
              <div class="blog-item news">
                <!-- Blog Image-->
                <div class="blog-media">
                  <div class="pic">
                      <img src="/static/img/news/1.jpg" width="370px" height="260px" alt>
                      <a href="#" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <div class="blog-date alt">
                    <div class="date">
                      <div class="date-cont">
                          <span class="day">27</span>
                          <span title="May" class="month"><span>May</span></span>
                          <span class="year">2017</span><i class="springs"></i></div>
                    </div>
                  </div>
                </div>
                <!-- title, author...-->
                <div class="blog-item-data clearfix">
                  <h4 class="blog-title">中博信开展2017年度内部执业质量和内部管理情况检查</h4>
                </div>
                <!-- Text Intro-->
                <div class="blog-item-body">
                  <p>根据公司董事会有关安排，由公司副董事长许长龙为组长，质量监管部门、行政及财务部门负责人组成检查的小组，于2017年5月5日至12月期间对黑龙江、吉林、丹东、甘肃四家分公司的执业质量和内部管理及财务管理情况进行了全面检查。 </p>
                </div><a href="#" class="cws-button small alt">阅读全文</a>
              </div>
              <!-- ! Blog Post-->
            </div>
            <div class="col-md-4 col-sm-6">
              <!-- ! Blog Post -->
              <div class="blog-item news">
                <!-- Blog Image-->
                <div class="blog-media">
                  <div class="pic"><img src="/static/img/news/2.jpg" data-at2x="pic/blog/370x260/3@2x.jpg" alt><a href="#" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <div class="blog-date alt">
                    <div class="date">
                      <div class="date-cont"><span class="day">27</span>
                          <span title="May" class="month"><span>May</span></span>
                          <span class="year">2017</span><i class="springs"></i></div>
                    </div>
                  </div>
                </div>
                <!-- title, author...-->
                <div class="blog-item-data clearfix">
                  <h4 class="blog-title">恭喜中博信获得“重合同守信用企业”荣誉称号</h4>
                </div>
                <!-- Text Intro-->
                <div class="blog-item-body">
                  <p>近日，中博信工程造价咨询（北京）有限公司被中企华信国际信用评价机构授予“重合同守信用企业”荣誉称号。</p>
                </div><a href="#" class="cws-button small alt">阅读全文</a>
              </div>
              <!-- ! Blog Post -->
            </div>
            <div class="col-md-4 col-sm-6">
              <!-- ! Blog Post image-->
              <div class="blog-item news">
                <!-- Blog Image-->
                <div class="blog-media">
                  <div class="pic"><img src="/static/img/news/3.jpg" data-at2x="pic/blog/370x260/2@2x.jpg" alt><a href="#" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <div class="blog-date alt">
                    <div class="date">
                      <div class="date-cont"><span class="day">8</span>
                          <span title="May" class="month"><span>May</span></span>
                          <span class="year">2017</span><i class="springs"></i></div>
                    </div>
                  </div>
                </div>
                <!-- title, author...-->
                <div class="blog-item-data clearfix">
                  <h4 class="blog-title">中建协质量认证中心审核组完成对中博信</h4>
                </div>
                <!-- Text Intro-->
                <div class="blog-item-body">
                  <p>2017年5月4日--5月5日，由中建协质量认证中心派出审核组，对中博信工程造价咨询有限公司的GB/T19001-2008质量管理体系进行了监督审核。 ...</p>
                </div><a href="#" class="cws-button small alt">Read More</a>
              </div>
              <!-- ! Blog Post image-->
            </div>
          </div>
        </div>
      </section>
      <!-- ! section news-->
      <!-- section parallax counter-->
      <section class="page-section cws_prlx_section pt-70 pb-70 bb-gray">
          <img src="/static/pic/counter-bg-1.jpg" alt class="cws_prlx_layer">
        <div class="container">
          <div class="row cws-multi-col">
            <div class="col-sm-3 col-xs-6 mb-sm-50">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-people-2"></i>
                <div class="counter-name-wrap">
                  <div data-count="300" class="counter">0</div>
                  <div class="counter-name">在职员工</div>
                </div>
              </div>
              <!-- ! counter block-->
            </div>
            <div class="col-sm-3 col-xs-6 mb-sm-50">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-fashion"></i>
                <div class="counter-name-wrap">
                  <div data-count="15" class="counter">0</div>
                  <div class="counter-name">分支机构</div>
                </div>
              </div>
              <!-- counter block-->
            </div>
            <div class="col-sm-3 col-xs-6">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-game"></i>
                <div class="counter-name-wrap">
                  <div data-count="1360" class="counter">0</div>
                  <div class="counter-name">项目合计</div>
                </div>
              </div>
              <!-- ! counter block-->
            </div>
            <div class="col-sm-3 col-xs-6">
              <!-- counter block-->
              <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-sheet"></i>
                <div class="counter-name-wrap">
                  <div data-count="9270" class="counter">0</div>
                  <div class="counter-name">Code Strokes</div>
                </div>
              </div>
              <!-- ! counter block-->
            </div>
          </div>
        </div>
      </section>
      <!-- ! section parallax counter-->
      <!---->
      <section class="page-section pb-0" id="tellme">
        <div class="container">
          <!-- section title-->
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <!-- title section-->
              <h2 class="title-section text-center mt-0 mb-0">联系我们</h2>
              <!-- ! title section-->
              <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
              <p class="text-center mb-10">请联系我们</p>
            </div>
          </div>
          <div class="row">
            <!-- form section-->
            <div class="col-md-8 mb-md-50">
              <form action="" method="post" class="form contact-form alt clearfix">
                <div class="row">
                  <div class="col-md-6">
                    <textarea name="message" cols="40" rows="4" placeholder="内容" aria-invalid="false" aria-required="true" style="height: 248px"></textarea>
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="name" value="" size="40" placeholder="姓名" aria-invalid="false" aria-required="true" class="form-row form-row-first">
                    <input type="text" name="email" value="" size="40" placeholder="邮箱" aria-required="true" class="form-row form-row-last">
                    <input type="text" name="subject" value="" size="40" placeholder="联系电话" aria-required="true" class="form-row form-row-last">
                    <input type="submit" value="发送消息" class="cws-button alt full-width">
                  </div>
                </div>
              </form>
              <div id="feedback-form-errors" role="alert" class="alert alert-danger alt alert-dismissible fade in">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span></button>
                  <i class="alert-icon border fa fa-exclamation-triangle"></i><strong>消息错误!</strong><br>
                <div class="message"></div>
              </div>
              <div class="email_server_responce"></div>
            </div>
            <!-- contact address-->
            <div class="col-md-4">
              <address class="contact-address">
                <div class="contact-icon-wrap"><a href="#" class="contact-icon flaticon-technology-2">
                    <span>(010) 8586 - 3223 </span></a></div>
                <div class="contact-icon-wrap"><a href="#" class="contact-icon flaticon-note color-2">
                    <span>zbxc@zbxc.cn </span></a></div>
                <div class="contact-icon-wrap"><a href="#" class="contact-icon flaticon-placeholder">
                    <span>北京市住邦2000东20层</span></a></div>
                <div class="contact-icon-wrap"><a href="#" class="contact-icon flaticon-time color-2">
                    <span>工作时间: 9:00 - 17:00</span></a></div>
              </address>
            </div>
          </div>
        </div>
        <!---<div class="map-full-width map-wrapper mt-60 border-t">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25295.930156304785!2d16.371063311644324!3d48.208404844730474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07986fcad78b%3A0x73f5a4d267cc4174!2zTmFnbGVyZ2Fzc2UgMTAsIDEwMTAgV2llbiwg0JDQstGB0YLRgNC40Y8!5e0!3m2!1sru!2sua!4v1453294615596" allowfullscreen=""></iframe>
        </div>--->
      </section>
    </div>


{% endblock %}

